@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
$black:#0b090a;
$off-black:#161a1d;
$danger:#660708;
$red1:#a4161a;
$red2:#ba181b;
$red3:#e5383b;
$gray:#d3d3d3;
$off_white:#f5f3f4;
$white:#ffffff;
$info:#00b4d8;