@use'var';
@use'responsive';
*{
    font-family: oswald;
}
.headings{
    background-color: var.$red1;
    padding: 10px 0px;
    width: 100%;
    nav{
        .logo img{
            font-size: 10px;
            font-weight: 100;
            padding: 10px 0px;
            width: 20%;
             transition: all 0.4s ease;

            &:hover{
                transform: scale(1.1);
            }
        }
       .main_nav{
        ul{
            li>a{
                font-size: 20px;
                font-weight: 400;
                color: var.$white;
                padding: 5px;
                border-bottom: 1px solid transparent;
    
                &:hover {
                    border-bottom-color: var.$black;
            }
           }
        }
        a {
            font-size: 18px;
            font-weight: 500;
            text-decoration: none;
            padding: 15px 25px;
            border-radius: 5px;
            transition: all 0.4s ease;

            &:hover {
                background-color: var.$gray;
                color: var.$black;
            }
        }
    }
}
}
.hero_section{
    min-height:75vh;
    h1 {
        font-size: 96px;
        font-weight: 700;
        line-height: 100px;
        color: var.$black;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        color: var.$red3;
        margin: 30px 0px;
    }
    a {
        text-decoration: none;
        background-color: var.$red3;
        padding: 15px 45px;
        font-size: 18px;
        font-weight: 500;
        color: var.$black;
        transition: all 0.4s ease;
        border-radius: 5px;

        &:hover {
            background-color: var.$off_white;

        }
    }
}
.about_section{
    background-color: var.$off_white;
    padding:100px 0px ;
    .container{
        img{
            width: 100%;
            text-align: left;
        }
    }
    h3 {
        font-size: 24px;
        font-weight: 500;
    }

    h2 {
        font-size: 46px;
        font-weight: 700;
    }

    p {
        font-size: 18px;
        font-weight: 400;
    }
    .progress{
        width: 200%;
        font-size: 15px;
        background-color: var.$off_white;
    }
    button{
        text-decoration: none;
        background-color: var.$gray;
        padding: 15px 45px;
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
        transition: all 0.4s ease;
        border-radius: 5px;
        &:hover {
            background-color: var.$red1;

        }
    }
}
.skill_section{
    background-color: var.$info;
    padding: 100px 0px;
    width: 100%;
    h2{
        font-size: 60px;
        color: var.$off-black;
        text-align: center;
    }
    .container{
        .card{
            background-color: transparent;
            .cards{
                width: 100%;
                display: flex;
                gap: 20px;
                .card_item{
                    padding: 5px;
                    border: 1px solid black;
                    justify-content: space-between;
                    text-align: center;
                    background-color: var.$gray;
                    border-radius: 10px;
                }
            }
        }
    }
}
.porject_section{
    padding: 80px 0px;
    background-color: var.$off-black;
    .container{
        h2{
            font-size: 50px;
            color: var.$white;
            text-align: center;
            margin-bottom: 30px;
        }
        .carousel-inner{
            border-radius: 10px;
            box-sizing: border-box;
        }
    }
}
.contact_section{
    background-color: var.$off_white;
    padding: 100px 0px;
    .container{
        h2{
            font-size: 50px;
            text-align: center;
            margin-bottom: 20px;
        }
        .content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .icon-1{
                display: flex;
            justify-content: space-between;
            align-items: center;
                font-size: 25px;
                text-align:center;
                a{
                    text-decoration: none;
                }
                i{
                    justify-content: space-between;

                }
            } 
           
            }       
        }
        
    }

.footer_section{
    background-color: var.$red2;
    padding: 20px 0px;
    a{
        color: var.$gray;
        font-size: 15px;
    }
}
@media(max-width:1337px){

}
@media(max-width:1028px){

}
@media(max-width:768px){

}